#root{
  height: 100%;
}

.App {
  text-align: center;
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.content-blogs{
  padding: 10px;
  margin: 0px auto;
  justify-content: center;
  display: flex;
  width: 97%;
  flex-wrap: wrap;
}

a{
  text-decoration: none;
  color: white;
  display: inline-block;
}
h5{
  margin: 0px;
}

.navbar-container{
  height: 5rem;
  box-shadow: 0px 0px 10px 0px #0f0d1d;
}

.navbar-container .responsive-icon{
  width: 30px;
  height: 30px;
  border: 1px solid white;
}

.navbar-toggler{
  color: white;
}

@media (max-width: 992px){

  .navbar-collapse.show .navbar-nav{
    background: linear-gradient(0deg, #030921 0%, #020615 100%);
    box-shadow: 0px 10px 13px -6px #06154e;
    border-radius: 2px;
  }

}

@media (max-width: 768px){
  .content-blogs{
    /* justify-content: flex-start; */
    justify-items: center;
  }
}